<a href="/">
<img class="profile" src="http://www.gravatar.com/avatar/5b35c7c7eb9912b0318934cfb22aabb5.png?s=200">
</a>
<h1>{{ site.title }}</h1>
<p class="lead">
  VP of Research and Development at Base CRM
</p>
<div class="social">
  <a class="twitter" href="https://twitter.com/marcinbunsch">
    <img src="/public/images/social/twitter.png">
  </a>
  <a class="github" href="https://github.com/marcinbunsch">
    <img src="/public/images/social/github.png">
  </a>
  <a class="linkedin" href="http://www.linkedin.com/in/mbunsch">
    <img src="/public/images/social/linkedin.png">
  </a>
  <a class="instagram" href="http://instagram.com/marcinbunsch">
    <img src="/public/images/social/instagram.png">
  </a>
  <a class="coderwall" href="https://coderwall.com/marcinbunsch">
    <img src="/public/images/social/coderwall.png">
  </a>
</div>

