<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="single-post">

    <header class="masthead">
      <div class="masthead-inner">
        {% include profile.html %}
      </div>
    </header>

    <div class="content container">

      <div class="post">
        <a class="back" href="/">&lt; Back to home</a>
        <span class="post-date">{{ page.date | date_to_string }}</span>
        <h1>{{ page.title }}</h1>
        {{ content }}

        <div class="social">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="marcinbunsch" data-size="large" data-related="marcinbunsch" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

          <a href="https://twitter.com/marcinbunsch" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @marcinbunsch</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>

      </div>

      <div class="related">
        <h2>Related Posts</h2>
        <ul class="related-posts">
          {% for post in site.related_posts limit:3 %}
            <li>
              <h3>
                <a href="{{ post.url }}">
                  {{ post.title }}
                  <small>{{ post.date | date_to_string }}</small>
                </a>
              </h3>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>

    {% include analytics.html %}
    {% include footer.html %}
  </body>
</html>
